<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610144383960-ao2bnfqaihlrlt8o34pgkbft41f8q9in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610144383960-ao2bnfqaihlrlt8o34pgkbft41f8q9in</string>
	<key>API_KEY</key>
	<string>AIzaSyCZfW8Asj3d25JobdnfK_RTzPZTG5PtqhA</string>
	<key>GCM_SENDER_ID</key>
	<string>610144383960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messaging</string>
	<key>PROJECT_ID</key>
	<string>simonwang-messaging</string>
	<key>STORAGE_BUCKET</key>
	<string>simonwang-messaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610144383960:ios:da8c449e1d5a03aab178ad</string>
</dict>
</plist>